* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  min-height: 100vh;
  background-color: rgb(16, 16, 94);
  display: grid;
  place-items: center;
}
button {
  color: rgb(255, 252, 252);
  background-color: rgb(235, 0, 0);
  border-color: black;
  font-family: monospace;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(182, 32, 32);
}

#calculadora {
  background-color: rgb(2, 2, 2);
  color: rgb(255, 8, 8);
  max-width: 100%;
  grid-template-columns: repeat(4, 1fr);
  width: 300px;
  padding: 1.5rem;
  border-radius: 1rem;
  display: grid;
  gap: 0.5rem;
  display: grid;
}

#pantalla {
  grid-column: 1 / -1;
  background-color: rgb(231, 211, 211);
  border-color: black;
  font-size: 25px;
  text-align: right;
  border-radius: 1rem;
  font-family: monospace;
  padding: 1.5rem;
}

#punto {
  grid-column: span 2;
}

#igual {
  grid-row: span 2;
}
